# Project exclude paths
/.gradle/
/Text Editor/task/build/
/Text Editor/task/out/
/Text Editor/task/out/production/classes/
/Topics/Array/Theory/out/
/Topics/Array/Theory/out/production/classes/
/Topics/Functional interfaces/Theory/out/
/Topics/Functional interfaces/Theory/out/production/classes/